/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#tracklist {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
}

body {
  background-color: white;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
  width: 100%;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-box {
  padding: 5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  animation-delay: 3.3s;
}

.featured-box p {
  font-size: 5rem;
  font-weight: 400;
}

.featured-box a {
  /* color: white; */
  font-size: 2rem;
  color: rgb(48, 48, 48);
  border: 2px solid rgb(48, 48, 48);
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: .3s all;
}

.featured-box a:hover {
  background-color: rgba(48, 48, 48, 0.801);
  color: white;;
}



header {
  z-index: 1;
  padding: 1rem 3rem;
  font-family: 'Roboto', sans-serif;
  /* text-transform: uppercase; */
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
}

.featured {
  height: 100vh;
  width: 100%;
}

.featured::after {
  content: "";  
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../Images/AdamIntheD-26.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  filter: opacity(.4) brightness(55%);
}

h1 {
  width: 100%;
  height: auto;
  padding: .5rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 5rem;
  position: relative;
  transition: .4s all;
  /* background-color: #383d41; */
  color: transparent;
  margin: 0;
}

h1 span {
  position: relative;
}

h1 span:after {
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity:0;
  animation-timing-function: cubic-bezier(0.730, -0.600, 0.320, 1.650);
}

h1 span:first-of-type::after {
  content: "adam";
  animation: slideInLeft .5s .5s forwards;
}

h1 span:last-of-type {
  margin-left: 1rem;
}

h1 span:last-of-type::after {
  content: "plomaritas";
  animation: slideInRight .5s 1s forwards;
}

/* nav stuff */
nav {
  margin: 1rem;
  /* align-self: flex-end; */
}

button:focus {
  outline: transparent;
}

.navbar {
  /* flex-direction: column; */
  margin-right: 5%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(14, 167, 206);
  transition: .3s all;
}

.navbar-toggler-icon {
  display: initial;
}


nav ul {
  list-style: none;
  position: relative;
  background-color: transparent;
  width: 31rem;
  z-index: 1;
  align-self: flex-end;
}

/* nav ul li::after {
  opacity: 0;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: bounceInUp 1s ease-in-out 3s  forwards;
  background-color:rgba(255, 255, 255, 0.884);
} */

nav ul li {
  z-index: 2;
  text-align: center;
  margin: 0 1rem;
  border-radius: 2rem;
  /* border: 2px solid rgb(14, 167, 206); */
  font-weight: 900;
  width: 31rem;
  height: 2rem;
  line-height: 1rem;
  letter-spacing: 2px;
  background-color: transparent;
  color: rgb(48, 48, 48); 
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  transition: .3s all;
  cursor: pointer;
  padding: .5rem;
}

nav ul li:nth-of-type(1) {
  animation-delay: 1.8s;
}

nav ul li:nth-of-type(2) {
  animation-delay: 1.9s;
}

nav ul li:nth-of-type(3) {
  animation-delay: 2s;
}

nav ul li:nth-of-type(4) {
  animation-delay: 2.1s;
}

nav ul li:nth-of-type(5) {
  animation-delay: 2.3s;
}

nav ul li:hover {
  color: rgb(14, 167, 206);
  font-size: 2rem;
}


a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* section {
  height: 30rem;
  width: auto;
  transform: rotate(-75deg);
} */

section {
  padding: 1rem;
}

section h2 {
  margin: 2rem;
}
/* 
section:nth-child(odd) {
  width: 100%;
  min-height: 40rem;
  height: 100%;
  background-color: rgb(14, 167, 206);
} */

.sectionInner {
}

/* section:nth-child(even) {
  width: 100%;
  height: 100%;
  min-height: 40rem;
  background-color: white;
} */


.event-details{
  padding: 1rem;
  transition: .3s all;
}

.event-details a {
  float: right;
  background-color: white;
  padding: 1.5rem;
  color: rgb(14, 167, 206);
  border: 2px solid rgb(14, 167, 206);
  border-radius: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  transition: .3s all;
}
/* 
.event-details a::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: chocolate;
} */

.event-details:nth-child(odd) {
  background-color: rgb(14, 167, 206);
}

.event-details:hover {
  background-color: rgb(63, 63, 63);
  color: white;
}

.event-details:hover > a {
  transform: scale(1.1);
}



.textWrapper {
  width: 25rem;
}

.img-wrapper {
  height: 100%;
  width: auto;
  position: relative;
  padding: 1rem;
}


section img {
  height: 20rem;
  width: auto;
}

.fa-bars {
  font-size: 4rem;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, 0.801);
  color: white;
  padding: 1rem;
}


@media (max-width: 576px) {
 html {
   font-size: 50%;
 }

 nav {
   align-self: center;
 }

.navbar {
   margin-right: initial;
}

 header {
flex-direction: column; }

  nav ul li:nth-of-type(1) {
  animation-delay: .8s;
}

nav ul li:nth-of-type(2) {
  animation-delay: .9s;
}

nav ul li:nth-of-type(3) {
  animation-delay: 1s;
}

nav ul li:nth-of-type(4) {
  animation-delay: 1.1s;
}

nav ul li:nth-of-type(5) {
  animation-delay: 1.3s;
}

nav ul:after {
    animation: bounceInUp 1s ease-in-out 2s  forwards;
}

}
